@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&display=swap');

/* Base CSS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

html {
    height: 100%;
}


body {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    color: #333;
    line-height: 1.6;
    height: 100%;

    flex-direction: column;
    display: flex;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 40px;
}

/* navbar */

.navbar {
    background-color: #272931;
    color: white;
    height: 80px;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: white;
    padding: 10px;
    margin: 0 5px;
}

.navbar .page-logo {
    font-size: 50px;
}

.navbar a:hover {
    border-bottom: 1px white solid;
}


/* footer */

.footer {
    margin-top: auto;
    background-color: #272931;
    color: white;
    height: 80px;
}

.footer ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.footer a {
    color: white;
    padding: 10px;
    margin: 0 5px;
}

.footer a:hover {
    border-bottom: 1px white solid;
}

