/* Contains the styling for index.html */

/* Index center label */


#index-label {
    flex:1;

    display: flex;
    text-align: center;
}

#index-label h1{
    font-size: 175px;
    flex:1;
    flex-wrap: wrap;
    align-self: flex-end;
    margin-top: auto;
}

/* Index navigation bar */

#index-nav {
    flex: 1;
}

#index-nav ul {
    padding: 0;
    text-align: center;
    list-style: none;
}

#index-nav li {
    font-size: 30px;
    display: inline;   
    text-align: center;
}

#index-nav a {
    text-decoration: none;
    padding: 10px;
    
}





