@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;

}

body {
    margin: 0;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

/* First landing page */

.landing {
    background-image: url('../img/home-background2.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* padding: 0 20px; */

}

.landing__title {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.landing__title h1 {
    flex: 1;
    font-size: 150px;
    align-self: flex-end;
    color: white;
}

@media only screen and (max-width: 600px) {
    .landing__title h1{
        font-size: 120px;
        line-height: 1.3;
        padding-bottom: 30px;
    }
}

.landing__list {
    list-style: none;
    font-size: 40px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
    width: 100%;
}

.landing__item {
    display: inline;
    padding: 20px;
    flex: 1;
    /* justify-content: space-around; */
}

.landing__link {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.landing__link:hover {
    color: white;
    border-bottom: 2px solid;

}

/* About */

.about {
    display: flex;
    width: auto;
    height: 100vh;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    flex-wrap: wrap;
}

.about__image {
    flex: 1;
    display: flex;
    width: auto;
    height: auto;

}

 
.about__text {
    padding: 20px;
    color: white;
    flex: 1;
}

/* Projects */

.projects {
    background-color: black;
    height: auto;
    color: white;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.projects__header {
    font-size: 80px;
    padding: 30px;
}

.projects__card {
    flex: 1;
    flex-shrink: 0;
    /* flex-basis: 500px; */
    margin: 20px 0px;
    padding: 10px;

    min-height: 500px;
    min-width: 800px;

    display: flex;
    /* flex-wrap: wrap; Add this in with media query */
    text-align: center;
    width: 100%;
    max-width: 50%;
    background-color: grey;
    /* border-radius: 20px; */
}
/* 
@media only screen and (max-width: 900px) {
    .projects__card {
        flex-wrap: wrap;
    }
} */


/* TODO: get the image to have a max height */
.projects__card-image {
    flex: 1 1 40%;

    background-color: brown;

    margin: 10px;
    max-height: 300px;
    /* background-image: url('../img/pfp (2).jpg'); */
    /* width: 100%; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.projects__card-image p {
    background-color: orange;
    /* background-image: url('../img/home-background.jpg'); */

    margin: 30px;
    width: 90%;
    height: 90%;
    /* max-height: 200px; */
    border-radius: 20px;
}

.projects__card-body {
    flex: 1 1 60%;

    display: flex;
    flex-direction: column;
    background-color: blue;
    margin: 10px;
    /* padding: 10px; */
}

.projects__card-title {
    flex: 1 1 20%;

    background-color: teal;

    margin: 0 10px;
    padding: 10px;
    font-size: 25px;
    line-height: 1.2;
}

.projects__card-desc {
    flex: 1 1 75%;

    background-color: red;

    font-size: 20px;
    padding: 10px;
    margin: 0 10px;
}

.projects__card-link {
    flex: 1 1 5%;

    background-color: blueviolet;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0 10px;
}

.projects__card-link button {
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 15px;
}