* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: Merriweather;
    background-color: #1e1e1e;
    color: #c0c0c0;
    margin: 0;
    font-size: 17px;
    line-height: 1.6;
}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
    -o-transition: 0.15s;
    -ms-transition: 0.15s;
    -moz-transition: 0.15s;
    -webkit-transition: 0.15s;
    transition: 0.15s;
}

a:hover {
    cursor: pointer;
    color: rgba(14, 144, 101);
}

.App {
    max-width: 1250px;
    margin: 0 auto;
    float: none;
}

.App_projects {
    color: #f8f8f8;
    font-size: 60px;
    font-weight: 650;
    text-align: center;
}
